<footer>
    <div class="footing">
        <h2>Unlock Your Potential with Global Tech Intern</h2>
        <p>Welcome to an exciting journey towards growth and success! 🚀</p>
        <p>At Global Tech Intern, we believe in nurturing talent and providing opportunities for innovation. Join our
            community of passionate individuals and kickstart your career in the tech industry.</p>
    </div>
    <% const d=new Date();
    let year=d.getFullYear(); %>
        <br />
        <br />
        <copyrights>
            Copyright© <%= year %>
            <p>All right resesrved to Global Tech Intern</p>
        </copyrights>
        <br />
        <br />
</footer>

</html>