<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register for Global Tech Intern</title>
    <link rel="stylesheet" href="./Registration.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <Company>Global Tech <br /> Intern</Company>
                <Emoji>🌍</Emoji>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" id="home-link"  href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a method="get" class="nav-link" id="about-link" href="/about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a method="get" class="nav-link" id="contact-link" href="/contact">Contact Us</a>
                    </li>
                </ul>
            </div>
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid justify-content-center">
                    <form class="d-flex mx-auto" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>
    </nav>
    <div class="heading">
        <h2>Welcome to Global Tech Intern</h2>
        <p>Ready to embark on this adventure? Simply fill out the form below to register and take the first step towards
            a brighter future!</p>
    </div>
</header>